.h-wrapper {
    margin: auto;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-spinner-wrapper {
    margin: 32vh 0 0 0;
}

.home {
    width: 90%;
    margin: 2rem auto 0;
}

.home h2 {
    font-size: 2.3rem;
    margin: 0 0 0 3%;
}

.home h3 {
    font-size: 1.5rem;
    margin: 1.3% 0 0.6% 3%;
    display: flex;
    align-items: center;
    max-height: 2.4rem;
    position: relative;
    width: 50%;
}

.home h3:hover .h-playlist-icon {
    transform: translate(10px, 0);
}

.h-playlist-span {
    background-color: #f5c518;
    height: 1.5rem;
    width: 5px;
    border-radius: 10px;
    margin: 0 5px 0 0;
}

.h-playlist-icon {
    margin: 6px 0 0 0;
    transition: 0.3s ease-in-out;
    color: #f5c518;
    font-size: larger;
}

.home hr {
    border-color: #FACF5A;
    width: 94%;
    margin: auto;
}

.h-media-wrapper {
    width: 100%;
}

.h-media {
    text-align: center;
    margin: auto;
    padding: 1vw;
    width: 100%;
}

.h-media div {
    display: inline-block;
    margin: 1%;
}