.navbar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar h1 {
    display: flex;
    flex-direction: row;
    margin: 0vw 0 0vw 2vw;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

.navbar h1 svg {
    margin: 0.3rem;
}

.nav-h-span {
    color: #ff3d3d;
    font-size: 2.1rem;
}

.nav-search {
    padding: 5px 0 0 0 !important;
    display: flex;
    align-items: center;
    flex-direction: row;
}


.nav-search form {
    display: flex;
}

.nav-search form input {
    width: 40vw;
    height: 2rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid black;
    border-right: none;
    background-color: #303134;
    padding: 10px;
    box-sizing: border-box;
    color: white;
}

.nav-search form input:focus {
    border: 0.5px solid white;
    outline: none;
}

.nav-search form button {
    height: 2rem;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
    background-color: #b71212;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 2.5rem;
    transition: 0.2s ease-in-out;
}

.nav-search form button:hover {
    background-color: #ff3d3d;
}

.navbar form button svg {
    margin: 0;
    font-size: 1.3rem;
    color: azure;
}

.navbar div {
    margin: auto 1vw;
    color: white;
    transition: 0.25s ease-in-out;
    /* width: 200px; */
    box-sizing: border-box;
    padding: 0.5vw 0.9vw;
    border-radius: 5px;
}

.nav-auth div:hover {
    /* border: 1px solid #fff; */
    background-color: #303134;
}

.nav-auth {
    display: flex;
    flex-direction: row;
    margin: auto 2vw auto 0;
}

.nav-auth a {
    text-decoration: none;
}

.profile-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(61, 61, 61);
    margin: auto 2vw 0 0 !important;
    cursor: pointer;
}

.profile-img-male {
    background: url('../assets/man.png');
    background-size: cover;
    border: none;
    outline: none;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0 0 0 1rem;
}

.profile-img-female {
    background: url('../assets/woman.png');
    background-size: cover;
    border: none;
    outline: none;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0;
}

.nav-dropdown {
    margin: 1rem 0 0 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
}

.nav-drop-menu {
    flex-direction: column;
    position: absolute;
    padding: 5px 0 5px 0 !important;
    margin: 0 !important;
    right: 1.7rem;
    top: 4.1rem;
    width: 10rem;
    height: 9rem;
    border-radius: 5px;
    background-color: rgb(61, 61, 61);
}

.nav-drop-menu hr {
    height: 1px;
    border: #6c6c6d solid 1px;
}

.nav-drop-menu div {
    cursor: pointer;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    transition: 0.2s;
}

.nav-drop-menu div:hover {
    background-color: rgb(153, 153, 153);
}

