.nav{
    height: 3rem;
    border-bottom:2px solid #ffffff ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav p{
    color: black;
}
.img-wrapper{
    background-color: #171717;
}